html, body {
    height: 100%; /* Asegúrate de que el body tenga altura completa */
    padding: 0;
    margin: 0; /* Elimina el margen por defecto del body */
}

body {
    display: flex; /* Habilita Flexbox en el body */
    flex-direction: column;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */    
    text-align:center;    
    font-family: Arial, sans-serif; /* Define la tipografía */
}

.pantalla {
    padding:0;
    margin:0;
    border: 3px solid grey;
    border-radius:25px;
    height:450px;
    width: 400px;
    display:flex; /*para uqe el contenido se ajuste dentor de este contenedor*/
    align-items:center;
    justify-content:center;
    flex-direction:column; /*flex por defecto los ordena en filas, yo los quiero en columnas*/
    background-color:#2C2F35;
    font-size:15px;
}

input {
   
    margin-bottom: 20px; /* Espaciado inferior si el input está seguido por otro elemento */
    padding: 10px; /* Espaciado interno en el input */
}

.centrar{
    text-align:center;
}
form{
    width:100%;
    height:100%;
    font-size: 15px;
    color:#FFFFFF;
   
}
.marca{

    margin-bottom:20px;
    margin-top:40px;
    color:white;
    background-color: #515966;
    border:#2C2F35;
    border-radius: 20px;
    text-align:center;
    font-size:15px;

}
.descripcion{
    height:70px;
    text-align:center;
    background-color: #515966;
    color:white;
    text-decoration:none;
    border:#2C2F35;
    border-radius: 20px;
    box-sizing: border-box; 
    font-size:15px;

}
.titulo{
    position:relative;
    color:white;
}
.titulo::after {
    content:"";
    width:30px;
    height:5px;
    border-radius:3px;
    background:#048070;
    position: absolute;
    bottom:-12px;
    left: 50%; /* Posiciona el pseudo-elemento a la mitad del ancho del elemento .titulo */
    transform: translateX(-50%); /* Ajusta la posición para centrar el pseudo-elemento horizontalmente */
    
}
.boton{
    margin-top:20px;
    width:100px;
    height:40px;
    color:white;
    background-color: #048070;
    cursor:pointer;
    border-radius: 15px;
    border:none;
    font-size:15px;
    
}
.boton:hover{
   background-color:#28aa98;
}

.contenedor{
    display:flex;
    width:10%;
    height: 10%;
   
   
}
.atras{
    
    
    color:white;
    width:200px;
    height: 20x;
    background-color: #048070;
    text-decoration: none;
    border-radius: 5px;
    padding:7px;
    font-family: arial;
    font-size:15px;
    margin-left:150px;
    margin-bottom:105px;
 
}
.atras:hover{
    
    background-color:#28aa98;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra al hacer hover */
}
div{
    justify-content: space-between;
    align-items: center;
}
.botones{
    display:flex;
    justify-content:Center;
    gap:20px;
}